ul.stepper.horizontal {
    /*min-height: 280px;*/
}

ul.stepper .channel-name {
    margin-top:0;
}

ul.stepper .channel-categories .btn,
.btn-categories {
    margin-right:1rem;
    margin-bottom: 1rem;
}
ul.stepper .channel-categories .btn.disabled {
    color:#333!important;
}

.channel-card a,
.home-category-title a{
    color: #333;
}
.channel-card,
.home-category-title{
    transition: opacity .3s;
}
.channel-card:hover,
.home-category-title:hover{
    opacity: 0.5;
}
nav .brand-logo {
    display: inline-flex;
    align-items: center;
}
.weview-logo {
    margin-right: 1rem;
}
a {
    color: #009688;
    transition: opacity .3s;
}
a:hover {
    opacity: 0.5;
}

nav ul a {
    transition: opacity .3s;
}
nav ul a:hover {
    background-color: transparent;
}

.home-category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.home-category-title:hover{
    opacity: 1;
}
.home-category-title:hover div{
    opacity: 0.5;
}
.home-category-title div {
    transition: opacity .3s;
}
.home-category-title i {
    vertical-align: top;
}

#form-login a,
#form-register a{
    display: block;
    margin-top: 2rem;
}

.form-card {
    margin-top: 4rem;
}

.range-field,
.rating-score {
    margin: 1rem 0;
}

.review-card h5.review-rating,
.channel-overview h4.review-rating{
    margin: 0;
    font-weight: 300;
    position: relative;
    color: #00bfa5;
}

.review-card h5.review-rating span.score {
    position: absolute;
    right: 28px;
    top: 0px;
}
.review-card h5.review-rating span.slash {
    position: absolute;
    right: 8px;
    top: 12px;
}
.review-card h5.review-rating span.total-score {
    position: absolute;
    top: 24px;
    right: 0;
}

.channel-overview h4.review-rating span.score {
    position: absolute;
    right: 36px;
    top: 0px;
}
.channel-overview h4.review-rating span.slash {
    position: absolute;
    right: 12px;
    top: 16px;
}
.channel-overview h4.review-rating span.total-score {
    position: absolute;
    top: 28px;
    right: 0;
}

#overview_review:disabled {
    color: #333;
}